:local(.App) {
	display: block;

}
:local(.TodoList) {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

:local(.TodoItemBtn) {
	margin: 0px;
	padding: 1px 4px;
}

:local(.TodoItemTextCompleted){
	text-decoration: line-through;
	background: lightgray;
}
:local(.TodoList li:hover){
	background: lightgray;
	cursor: pointer;
}